.weather {
  border: 2px solid black;
  border-radius: 5px;
  padding: 2vh 2vw;
  display: none;
  justify-content: center;
}

.weather table {
  width: 50%;
  align-self: center;
}

.weather th,
td {
  width: 40%;
}

.weather th {
  text-align: left;
}

.weather td {
  text-align: left;
}

.searchBar #search {
  width: 100%;
}
