.main {
  border: 3px solid black;
  border-radius: 15px;
  background-color: #3399ff;
}

#weather {
  border: 2px solid black;
  border-radius: 5px;
  background-color: white;
}

#weather .title {
  font-size: 24px;
  font-weight: bold;
  display: block;
}

#weather span {
  font-size: 18px;
  color: rebeccapurple;
}
